<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="" onclick="location.href='/mainmenu'">
        <ion-icon  class="fs-25 text-dark" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fs-25 ion-text-center">Transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="true" fill="clear" class="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-1 ion-padding">

      <div class="history-line"></div>
      <div class="transaction-date ion-text-center">
        <div class="transaction-date-label fs-15 fw-500 text-white">October 30, 2024</div>
      </div>

      <ion-item button lines="none" detail="false" class="transaction-item mt-2" (click)="receiptloan()">
        <div class="d-flex">
          <div class="transaction-history-icon-container">
            <div class="transaction-history-icon">
              <ion-icon class="text-white" name="newspaper-outline"></ion-icon>
            </div>
          </div>
          <div class="transaction-history-details">
            <div class="fw-900">Subaru XV 2020</div>
            <div class="">Card • 1:00pm</div>
          </div>
          <div class="transaction-history-value text-danger fw-900">- ₱30,010.00</div>
        </div>
      </ion-item>
      
      <div class="history-line mt-2"></div>
      <div class="transaction-date ion-text-center">
        <div class="transaction-date-label fs-15 fw-500 text-white">October 29, 2024</div>
      </div>

      <ion-item button lines="none" detail="false" class="transaction-item mt-2" (click)="receiptbill()">
        <div class="d-flex">
          <div class="transaction-history-icon-container">
            <div class="transaction-history-icon">
              <ion-icon class="text-white" name="receipt-outline"></ion-icon>
            </div>
          </div>
          <div class="transaction-history-details">
            <div class="fw-900">PhilHealth</div>
            <div class="">Card • 10:30am</div>
          </div>
          <div class="transaction-history-value text-danger fw-900">- ₱5,810.00</div>
        </div>
      </ion-item>

      <ion-item button lines="none" detail="false" class="transaction-item mt-1" (click)="receipttransfer()">
        <div class="d-flex">
          <div class="transaction-history-icon-container">
            <div class="transaction-history-icon">
              <ion-icon class="text-white" name="swap-horizontal-outline"></ion-icon>
            </div>
          </div>
          <div class="transaction-history-details">
            <div class="fw-900">Transfer</div>
            <div class="">Card • 5:30pm</div>
          </div>
          <div class="transaction-history-value text-danger fw-900">- ₱1020.00</div>
        </div>
      </ion-item>

      <div class="history-line mt-2"></div>
      <div class="transaction-date ion-text-center">
        <div class="transaction-date-label fs-15 fw-500 text-white">October 28, 2024</div>
      </div>

      <div class="mt-2 mb-1 ion-text-center">
        <ion-icon style="font-size: 60px;" class="text-medium" name="cube-outline"></ion-icon>
      </div>

      <div class="history-line mt-2"></div>
      <div class="transaction-date ion-text-center">
        <div class="transaction-date-label fs-15 fw-500 text-white">October 27, 2024</div>
      </div>

      <ion-item button lines="none" detail="false" class="transaction-item mt-2" (click)="receiptdeposit()">
        <div class="d-flex">
          <div class="transaction-history-icon-container">
            <div class="transaction-history-icon">
              <ion-icon class="text-white" name="download-outline"></ion-icon>
            </div>
          </div>
          <div class="transaction-history-details">
            <div class="fw-900">Deposit</div>
            <div class="">Cash • 12:30pm</div>
          </div>
          <div class="transaction-history-value text-success fw-900">+ ₱1020.00</div>
        </div>
      </ion-item>

      <ion-item button lines="none" detail="false" class="transaction-item mt-1" (click)="receiptsub()">
        <div class="d-flex">
          <div class="transaction-history-icon-container">
            <div class="transaction-history-icon">
              <ion-icon class="text-white" name="pricetags-outline"></ion-icon>
            </div>
          </div>
          <div class="transaction-history-details">
            <div class="fw-900">Spotify Premium</div>
            <div class="">Card • 1:00pm</div>
          </div>
          <div class="transaction-history-value text-danger fw-900">- ₱260.00</div>
        </div>
      </ion-item>

  </div>

</ion-content>
