<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="" onclick="location.href='/mainmenu'">
        <ion-icon  class="fs-25 text-dark" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fs-25 ion-text-center">Loans</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" onclick="location.href='/addloan'">
        <ion-icon class="fs-25" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-segment mode="ios" [(ngModel)]="type">
    <ion-segment-button value="all" class="ongoing-btn">
      <ion-label>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="mentions" class="completed-btn">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="type">
    <!-- transaction section -->
    <div *ngSwitchCase="'all'">

      <div class="mt-1">
        <div class="loan-details" (click)="loancar()">
          <div class="ion-padding">
            <div class="fs-20 fw-900 text-primary">Subaru XV 2020 <span style="float: right;" class="fw-200 text-medium"> <ion-icon name="time-outline"></ion-icon> 46 Months Left </span></div>
            <div class="loan-desc fs-14">Loan Status: <span class="text-uppercase text-success">PAID</span></div>
          </div>
          <div class="separator"></div>
          <div class="ion-padding">
            <div class="fw-900 fs-20 text-primary"> 25% <span style="float:right"> ₱  360,000 </span></div>
            <ion-progress-bar class="loan-prog-bar" value=".25"></ion-progress-bar>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="loan-details" (click)="loanhouse()">
          <div class="ion-padding">
            <div class="fs-20 fw-900 text-primary">Dream House <span style="float: right;" class="fw-200 text-medium"> <ion-icon name="time-outline"></ion-icon> 90 Months Left </span></div>
            <div class="loan-desc fs-14">Due Date:  <span class="text-uppercase text-danger">10/31/2024 </span></div>
          </div>
          <div class="separator"></div>
          <div class="ion-padding">
            <div class="fw-900 fs-20 text-primary"> 8% <span style="float:right"> ₱  163,000 </span></div>
            <ion-progress-bar class="loan-prog-bar" value=".08"></ion-progress-bar>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="loan-details" (click)="loanbusiness()">
          <div class="ion-padding">
            <div class="fs-20 fw-900 text-primary">INTDM Garage<span style="float: right;" class="fw-200 text-medium"> <ion-icon name="time-outline"></ion-icon> 10 Months Left </span></div>
            <div class="loan-desc fs-14">Due Date:  <span class="text-uppercase text-danger">10/31/2024 </span></div>
          </div>
          <div class="separator"></div>
          <div class="ion-padding">
            <div class="fw-900 fs-20 text-primary"> 41% <span style="float:right"> ₱ 2,083,333 </span></div>
            <ion-progress-bar class="loan-prog-bar" value=".41"></ion-progress-bar>
          </div>
        </div>
      </div>

    </div>
    <!-- transaction section -->

    <!-- accounts section -->
    <div class="" *ngSwitchCase="'mentions'">

      <div class="mt-1">
        <div class="loan-details" (click)="loancollege()">
          <div class="ion-padding">
            <div class="fs-20 fw-900 text-primary">College Tuition<span style="float: right;" class="fw-200 text-success fs-30"> <ion-icon name="checkmark-circle-outline"></ion-icon></span></div>
            <div class="loan-desc fs-14 text-uppercase text-success">Complete</div>
          </div>
          <div class="separator"></div>
          <div class="ion-padding">
            <div class="fw-900 fs-20 text-primary"> 100% <span style="float:right"> ₱ 170,000</span></div>
            <ion-progress-bar class="loan-prog-bar" value="1"></ion-progress-bar>
          </div>
        </div>
      </div>

    </div>
    <!-- account section -->
  </ng-container>

</ion-content>
