<ion-content [fullscreen]="true" class="ion-padding">
  <div class="fs-30 fw-500">Confirm Details</div>
  <div class="fs-16 text-medium">Ensure all informations are correct.</div>
  <div class="mt-1 ion-padding transfer-id ">
    <div class="fs-18 fw-500">Transaction in progress&nbsp;<ion-spinner class="spinner" color="primary"></ion-spinner></div>
    <div class="fs-14 text-medium">To continue confirm the details below and click confirm.</div>
    <div class="fs-15 mt-1">Transaction ID:&nbsp;&nbsp;1NT3RN3T&nbsp;&nbsp;<a id="open-toast"><ion-icon name="copy-outline"></ion-icon></a></div>
    <ion-toast position="top" trigger="open-toast" message="Copied!" [duration]="5000"></ion-toast>
    <div class="fs-15">Date:&nbsp;&nbsp;08/16/2024</div>
  </div>
  <div class="fs-18 mt-2 fw-500">Transaction Summary</div>
  <div>
    <ion-item lines="none" class="transfer-info">
      <ion-icon class="fs-40 text-primary" name="wallet-outline"></ion-icon>
      <div style="margin-left: 10px;" class="fs-16">
        <div class="fw-500">Bill</div>
        <div>Converge</div>
      </div>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none" class="transfer-info">
      <ion-icon class="fs-40 text-primary" name="briefcase-outline"></ion-icon>
      <div style="margin-left: 10px;" class="fs-16">
        <div class="fw-500">Account Number</div>
        <div>5712003794</div>
      </div>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none" class="transfer-info">
      <ion-icon class="fs-40 text-primary" name="card-outline"></ion-icon>
      <div style="margin-left: 10px;" class="fs-16">
        <div class="fw-500">Account Used</div>
        <div>BDO:&nbsp;8467 3211 9998 7551</div>
      </div>
    </ion-item>
  </div>
  <div class="mt-1 transfer-amnt">
    <div class="mt-1 fs-18 fw-500">Payment Summary</div>
    <div style="margin-top:10px">Bill Amount<span class="" style="float:right">₱ 2,656.00</span></div>
    <div>Transaction Charge<span class="" style="float:right">₱ 10.00</span></div>
  </div>
  <div class="fs-18 fw-500 mt-1">Total Amount<span style="float:right">₱ 2,666.00</span></div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-button class="btn-primary" (click)="billpaidconverge()">Confirm</ion-button>
    <ion-button color="danger" class="btn" (click)="close()">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>
