<ion-header class="ion-no-border">
  <ion-toolbar class="mmheader">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="" onclick="location.href='/mainmenu'">
        <ion-icon  class="fs-25 text-dark" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fs-25 ion-text-center">Vouchers</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="true" fill="clear" class="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment mode="ios" [(ngModel)]="type">
    <ion-segment-button value="all">
      <ion-label>Available</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="mentions">
      <ion-label>Claimed</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="expired">
      <ion-label>Expired</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="type">
    <div class="" *ngSwitchCase="'all'">
      <div class="">test - Available</div>
    </div>

    <div class="" *ngSwitchCase="'mentions'">
      <div class="">test - Claimed</div>
    </div>

    <div class="" *ngSwitchCase="'expired'">
      <div class="">test - Expired</div>
    </div>
  </ng-container>
  
</ion-content>