<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="footer">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="mb-5">
    <div class="phone-container"></div>
    <ion-icon class="phone-icon" name="paper-plane-outline"></ion-icon>
  </div>
  <div class="fs-24">Check your email</div>
  <div class="text-medium fs-18 mt-2 mb-2">In order to complete the registration process, please click the link inside the email we sent you.</div>
  <ion-button expand="block" class="btn-primary" onclick="location.href='/login'">Verify</ion-button>
</ion-content>
