.phone-container{
    background-color: #3880ff;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px;
}
.phone-icon{
    font-size: 100px;
    color: white;
    margin-top: 80px;
}
.btn-primary{
    width: 200px;
}