.phone-container{
    background-color: #3880ff;
    border-radius: 100px;
    height: 130px;
    width: 130px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.phone-icon{
    font-size: 100px;
    color: white;
    margin-top: 65px;
}
ion-modal#tcomplete{
    --border-radius: 20px;
}