swiper-container{
    height: 130px;
}
.card-balance{
    margin-top: 5px;
    --background: #3880ff;
    border-radius: 10px;
    --min-height: 80px;
}
.sub-btn{
    --border-radius: 10px;
    --min-height: 48px;
    --background: #3880ff;
    --color-activated: #FFFFFF;
    min-width: 100%;
    color: #FFFFFF;
    margin-bottom: 5px;
.acc-side-menu{
    --padding-start: 0px;
    margin-right: -10px;
}
}
.acc-qr{
    color:#000000;
}
.acc-status{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #3880ff;
    height: 30px;
    padding: 5px;
    width: 110px;
    border-radius: 20px;
    color: #FFFFFF;
}
.side-menu-button{
    --padding-start: 20px;
}

.page-button{
    --padding-start: 5px;
    --padding-end: 20px;
    --min-height: 70px ;
    width: 70px;
    --background: #3880ff;
    --border-radius: 8px;
    --color:#FFFFFF;
    overflow: visible;
    margin-right: 0.3rem;

    .page-icon-activity,
    .page-icon-cards,
    .page-icon-bills,
    .page-icon-transfer,
    .page-icon-deposit{
        margin-left: 15px;
    }

    .page-button-label-transfer{
        margin-left: 3px;
    }

    .page-button-label-cards{
        margin-left: 10px;
    }

    .page-button-label-bills{
        margin-left: 16px;
    }

    .page-button-label-deposit{
        margin-left: 6px;
    }
    .page-button-label-activity{
        margin-left: 7px;
    }
}
@media screen and (min-width: 320px) and (max-width: 399px) {
    .page-button{
        --min-height: 65px ;
        width: 65px ;
        --padding-start: 3px;
        font-size: 10px;
    }
    .page-icon-activity,
    .page-icon-cards,
    .page-icon-bills,
    .page-icon-transfer,
    .page-icon-deposit{
        font-size: 25px;
    }
}



