<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="mt-5 text-success" style="font-size: 200px;">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <div class="fs-25 text-dark">Profile Updated!</div>
    <div class="fs-22 text-medium"><p>You have successfully updated your profile info</p></div>
  </div>
  <ion-button mode="md" class=" mt-1 btn-primary" onclick="location.href='/userprofile'">Back to my profile</ion-button>
</ion-content>
