<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger" id="present-alert" slot="end">Cancel</ion-button>
      <ion-alert mode="ios" trigger="present-alert" class="custom-alert" header="Are you sure?" subHeader="Cancel change password" [buttons]="alertButtons"></ion-alert>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="fs-36 fw-700">Change Password</div>
  <div class="mb-3 fs-14 text-medium">Create a new stronger password</div>
  <div class="mt-1 fs-15 text-primary">Old Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" no-lines placeholder="Old password" value="JD123"></ion-input>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="mt-1 fs-15 text-primary">New Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" no-lines placeholder="New password" value="JD321"></ion-input>
    <ion-icon slot="end" name="pencil-outline"></ion-icon>
  </ion-item>
    <div class="mt-1 fs-15 text-primary">Confirm New Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" no-lines placeholder="Confirm new password" value="JD321"></ion-input>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="mt-2">
    <ion-button class="btn-primary" onclick="location.href='/changepasswordsuccess'">Save</ion-button>
  </div>
</ion-content>
