<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mt-5 fs-36 fw-700">Hi, Welcome! </div>
  <div class="mb-5 fs-14 text-medium">Please login to access your account</div>
  <div class="mt-1 fs-15 text-primary">Email</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input no-lines class="email-input" placeholder="E-mail" value="johndoe@gmail.com"></ion-input>
    <ion-icon slot="end" name="mail-outline"></ion-icon>
  </ion-item>
  <div class="mt-1 fs-15 text-primary">Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" no-lines class="" placeholder="Enter your password" value="JD123"></ion-input>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
  </ion-item>
  <ion-row class="mt-1 mb-1">
    <ion-col>
      <div class="d-flex">
        <ion-checkbox [checked]="true" mode="md"></ion-checkbox>
        <div>&nbsp;Remember Me</div>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-right mb-1"><a class="fp-btn" href="">Forgot Password</a></div>
    </ion-col>
  </ion-row>
  <ion-button class="btn-primary" onclick="location.href='/verifycode'">Login</ion-button>
</ion-content>
<ion-footer [translucent]="true" class="ion-no-border">
  <ion-toolbar class="footer">
    <div class="ion-text-center mb-2">Don't have an account yet? <a href="register" class="reg-btn">register here</a></div>
  </ion-toolbar>
</ion-footer>

