<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mt-2 fs-36 fw-700">Register</div>
  <div class="mb-3 fs-14 text-medium">Be a member today</div>
  <div class="mt-1 fs-15 text-primary">Full Name</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input no-lines value="John Doe" placeholder="Full Name"></ion-input>
    <ion-icon slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <div class="mt-1 fs-15 text-primary">Email</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input no-lines value="johndoe@gmail.com" placeholder="E-mail"></ion-input>
    <ion-icon slot="end" name="mail-outline"></ion-icon>
  </ion-item>
    <div class="mt-1 fs-15 text-primary">Mobile Number</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="tel" value="097789900001" no-lines  placeholder="Mobile Number"></ion-input>
    <ion-icon slot="end" name="call-outline"></ion-icon>
  </ion-item>
  <div class="mt-1 fs-15 text-primary">Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" value="JD123" no-lines  placeholder="Create password"></ion-input>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="mt-1 fs-15 text-primary">Confirm Password</div>
  <ion-item lines="none" class="ion-no-border input">
    <ion-input type="password" value="JD123" no-lines  placeholder="Confirm password"></ion-input>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="d-flex mt-1 mb-1 ion-text-center">
    <ion-checkbox [checked]="true" mode="md"></ion-checkbox>
    <div>&nbsp;&nbsp;I accept the Terms of Use & Privacy Policy</div>
  </div>
  <div class="mt-3">
    <ion-button mode="md" expand="block" class="btn" onclick="location.href='/verifyemail'">Register</ion-button>
  </div>
  <div class="mt-3">
    <div class="ion-text-center mb-2 reg-btn">Already have an account? <a href="login" class="reg-btn">Login here</a></div>
  </div>
</ion-content>

