.userp-nav{
    --background: #3880ff;
}
.profile-section{
    min-height: 160px;
    background: #3880ff;
    color: #ffff;

}
.user-pfp-container{
    position: absolute;
    top: 165px;
    left: 50%;
    translate: (-50%);
    border: 6px solid #f6f5f5;
    border-radius: 100px;
}
.user-pfp{
    height: 100px;
    width: 100px;
}
.acc-info{
    --padding-start: 30px;
    height: 65px;
    border-bottom: 2px solid rgb(213, 213, 213);
}