.acc-item{
    --min-height: 100px;
    --border-radius: 10px;
}
.lock-container{
    padding: 8px;
    padding-left: 9.5px;
    font-size: 40px;
    height: 60px;
    width: 60px;
    background-color:  #3880ff;
    border-radius: 100px;
}