swiper-container{
    height: 600px;
}
swiper-container::part(pagination){
    position: sticky;
    bottom: 350px;
}
.card-container{
    background-color: #3880ff;
    min-height: 200px;
    border-radius: 20px;
    color: #fff;
}
.settings-active{
    height: 50px;
    background-color: #3880ff;;
    border-radius: 20px;
}
.auto-pay-toggle{
    position: absolute;
    right: 20px;
    margin-top: -6px;
}
