<ion-header class="ion-no-border">
  <ion-toolbar class="">
    <ion-buttons slot="start">
      <ion-button fill="clear" onclick="location.href='/mainmenu'">
        <ion-icon class="fs-25" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fs-25 ion-text-center">Deposit</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mt-1">
    <div class="ion-text-center text-primary" style="font-size: 120px;">
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-icon name="wallet-outline"></ion-icon>
    </div>
  </div>
  <div class="iselect">
    <div class="fs-20">To Bank Account</div>
    <div>
      <ion-item lines="none" class="iselect-dd">
        <ion-select mode="ios" toggleIcon="caret-down-sharp" expandedIcon="caret-up-sharp" labelPlacement="stacked" label="" value="PayPal: 4118 9838 0867 5175">
          <ion-select-option>PayPal: 4118 9838 0867 5175</ion-select-option>
          <ion-select-option>PayMaya: 4568 4262 6046 8338</ion-select-option>
          <ion-select-option>G-cash: 4488 7520 2883 4728</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="mt-1 fs-20">Choose Amount</div>
  <div class="d-flex h-center mt-1">
    <label>
			<input class="radio-input" type="radio" name="engine">
				<span class="radio-tile">
					<span class="fs-20">₱5000</span>
				</span>
		</label>
    <label style="margin-left: 10px;">
			<input class="radio-input" type="radio" name="engine">
				<span class="radio-tile">
					<span class="fs-20">₱1000</span>
				</span>
		</label>
  </div>
  <div class="d-flex h-center" style="margin-top: 10px;">
    <label>
			<input class="radio-input" type="radio" name="engine">
				<span class="radio-tile">
					<span class="fs-20">₱500</span>
				</span>
		</label>
    <label style="margin-left: 10px;">
			<input class="radio-input" type="radio" name="engine">
				<span class="radio-tile">
					<span class="fs-20">₱100</span>
				</span>
		</label>
  </div>
  <div>
    <ion-item lines="none" class="iselect-input">
      <ion-input placeholder="Custom amount" value=""></ion-input>
    </ion-item>
  </div>

</ion-content>
