<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
    <div class="fs-30 mt-5 fw-900">
        <div>Welcome</div>
        <div>To</div>
        <div>Project Bank</div>
    </div>
    <div class="mt-5">
        <div class="icon-container">
            <div>
                <ion-icon name="storefront-outline"></ion-icon>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
    <ion-toolbar>
        <ion-button expand="block" class="btn" onclick="location.href='/login'">Proceed</ion-button>
    </ion-toolbar>
</ion-footer>
