<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="fs-30 fw-500">Confirm your transfer</div>
  <div class="fs-16 text-medium">Ensure all information is correct.</div>
  <div class="mt-3 trans-dets ion-padding">
    <div class="mb-1 fs-24">Details</div>
    <div>
      <div class="fs-18">Date <span class="fs-18" style="float: right">07/13/2024</span></div>
      <div class="fs-18 mt-1">From bank account <span class="fs-18" style="float: right">Paypal</span></div>
      <div class="fs-18 mt-1">To bank account <span class="fs-18" style="float: right">8467 3211 9998 7551</span></div>
      <div class="fs-18 mt-1">Bank account owner <span class="fs-18" style="float: right">Joaqin Bordado</span></div>
      <div class="fs-18 mt-1">Message <span class="fs-18" style="float: right">Debt complete</span></div>
    </div>
    <div class="mt-1 total-amt">
      <div class="fs-18 mt-1">Total Amount <span class="fs-18" style="float: right">₱ 1000.00</span></div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-button class="btn-primary" (click)="verifytransfer()">Confirm Transfer</ion-button>
    <ion-button color="danger" class="btn" onclick="location.href='/transfer'">Cancel Transfer</ion-button>
  </ion-toolbar>
</ion-footer>
